body {
    background-color: #222222;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.title {
    font-family: Lato, sans-serif;
    font-size: 3.0rem;
    font-weight: 700;
    color: #c9470b;
}

.navbar-brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #c9470b
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #c9470b
}

.red-o {
    color: #c9470b;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.main-bg.intro {
    /* background-color: #F9FAFC; */
    background-color: black;
}
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 12%;
    left: -2px;
    background-color: #750000;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-size: 0.6rem;
}



.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

@media (min-width: 768px) {
    .masthead {
        height: 45vh;
    } 
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: black;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: black;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #c9470b;
}

.link {
    color: #c9470b;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #c9470b;
    text-decoration: underline;
}

.btn-like {
    color: black;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: black;
    background: transparent;
    border: none;
}

.home-background {
    background-size: cover;
    overflow: hidden;
    /* width: 100%; */
    float: right;
    height: 100%;
}

.footer {
    background-color: black;
}

.login-home {
    position: absolute;
    top: 250px;
    left: 0;
    background-color: rgba(50, 50, 50, 0.5);
    padding: 10px;
    border-radius: 3px;

}

.login-home-text, .login-home h3{
    color: white;
}

.login-page {
    background: rgba(0,0,0,1);  
    /* background: url('../images/signin-bg.jpg'); */
    padding: 5rem 3rem;
    color: white;
}

.login-page h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.login-page p{
    font-size: 1.2rem;
}

.login-page form {
    padding: 1rem 1rem;
    background-color: rgba(255,255,255, 0.3);
    padding: 3rem 1rem;
    
}

.login-page form.post {
    padding: 1rem 1rem;
    background-color: rgba(255,255,255, 0.3);
    padding: 3rem 1rem;

    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.login-page form label {
    font-size: 1.4rem;
    padding-right: 0.5rem;
    font-weight: 500;
}

.login-page form input[type="text"], .login-page form input[type="password"], .login-page form input[type="email"] {
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    border-radius: 0.5rem;
}

.login-page form input[type="text"]::placeholder, .login-page form input[type="password"]::placeholder {
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

.login-page form .submit {
    display: flex;
    justify-content: center;
}

.login-page form button {
    padding: 0.5rem 2rem;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 0.17em;
}

.form_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form_container form {
    background-color: green;
    width: 50%;
}

.author_btns {
    display: flex;
    gap: 1.2rem;
    flex-shrink: 0;
}

.count_btn {
    background-color: white;
    padding: 0.3rem 0;
    width: 100%;
}

.post-btn-wrapper {
    display: flex;
    width: 100%;    
}

@media (max-width: 400px) {
    .post-btn-wrapper {
        flex-direction: column;
    }
}
.cocktails .cocktail h2 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin: 0rem 0 1rem;
    color: #750000;
}

.cocktails .cocktail p.description {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.03em;
    margin: 0rem 0 1rem;
    color: #535353;
}

h3.method {
    margin-bottom: 1rem;
}

a.new-post {
    padding: 0.4rem 1rem !important;
    background: #0f0f0f;
    color: white !important;
    margin-left: 1rem;
}

a.new-post:hover {
    background: #1d1d1d;
}
.cocktails .cocktail p.info {
    font-size: 0.7rem;
    color: #535353;
}

/* Bootstrap Overwrite */
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
    