<!-- {% extends "drinks/base.html" %} -->
{% load static %}

{% block content %}

<div class="container-fluid cocktails">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4 cocktail">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <a href="{% url 'post_detail' post.slug %}" class="post-link"><img class="card-img-top"
                                src="https://images.unsplash.com/photo-1551024709-8f23befc6f87"></a>
                            {% else %}
                            <a href="{% url 'post_detail' post.slug %}" class="post-link"> <img class="card-img-top" src=" {{ post.featured_image.url }}"></a>
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">{{ post.author }}</p>
                            </div>
                        </div>
                        <div class="card-body p-0 py-2" style="padding: 1em !important;">
                                <h2 class="card-title mb-2"><a href="{% url 'post_detail' post.slug %}" class="post-link">{{ post.title }}</a></h2>
                                <p class="card-text description">{{ post.excerpt }}</p>
                                {% if user.is_superuser %}
                                <div class="btn-container">
                                    <div class="left">
                                        <button type="submit" class="btn btn-danger mx-1 btn-sm float-sm-end mb-2" data-toggle="modal" data-target="#exampleModal">Delete</button>
                         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <h3>Are you sure? </h3>
                                    <h4>(This process will not undo)</h4>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                  <form action="/delete_post/{{post.id}}/" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger mx-1 btn-sm float-sm-end mb-2">Delete</button>
                                </form>
                                </div>
                              </div>
                            </div>
                          </div>
                                    </div>
                                <div class="right">
                                    <form action="/edit_post/{{post.id}}/" method="get">
                                        <button type="submit" class="btn btn-primary btn-sm">Edit Post</button>
                                        {% csrf_token %}
                                    </form>
                                </div>
                                </div>
                            {% endif %}
                            
                            
                            <hr />
                            <p class="card-text text-muted info">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>

                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<script>
    // Reduce the blogs heading by adding ellipses to titles that are too long.
const elements = document.querySelectorAll('.description');
elements.forEach(el => {
  el.textContent=el.innerHTML.substring(0,150)+"...";
});
</script>
{%endblock%}